<!DOCTYPE html>
<html>
  <head>
    <title>Member Ragistration Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="/static/login/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
          <!-- <div class="img-left d-none d-md-flex"></div> -->

          <div class="card-body">
            <h1 class="text-center">
              <img
                class="mx-4"
                src="/static/images/socity_logo.png"
                width="80px"
                height="100px"
                alt=""
              />GOKULDHAM SOCIETY
            </h1>
            <h4 class="title text-center mt-4">Member Registration Form</h4>
            <form class="form-box px-3" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="text"
                    placeholder="First Name"
                    name="firstname"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="text"
                    name="lastname"
                    placeholder="Last Name"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="password"
                    name="cpassword"
                    placeholder="Confirm Password"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="number"
                    name="mobile"
                    placeholder="Mobile Number"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <h6
                    style="
                      position: absolute;
                      bottom: 48px;
                      background-color: white;
                      left: 55px;
                    "
                  >
                    Date Of Birth
                  </h6>
                  <input
                    type="date"
                    name="dateofbirth"
                    placeholder="Date Of Birth"
                    id="dateofbirth"
                    tabindex="10"
                    required
                  />
                </div>

                <div class="col-6">
                  <div
                    class="rounded-pill"
                    style="
                      border: 1px solid #00000020;
                      height: 45px;
                      outline: none;
                      margin-bottom: 20px;
                      padding-left: 40px;
                    "
                  >
                    <h6
                      style="
                        position: absolute;
                        bottom: 48px;
                        background-color: white;
                      "
                    >
                      Gender
                    </h6>
                    <div style="margin-top: 10px">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="maleGender"
                          name="gender"
                          checked
                        />
                        <label class="form-check-label" for="maleGender"
                          >Male</label
                        >
                      </div>

                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="femaleGender"
                          name="gender"
                        />
                        <label class="form-check-label" for="femaleGender"
                          >Female</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="text"
                    name="address"
                    placeholder="Address"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="number"
                    name="adhar"
                    placeholder="Aadhar Number"
                    required
                  />
                </div>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-block text-uppercase">
                  Register
                </button>
                <span>{{msg}}</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
